<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href = "../static/css/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href = "../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href = "../static/bootstrap/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href = "../static/bootstrap/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href = "../static/css/index_style.css" type="text/css">
    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/jquery_min.js"></script>
    <script src="../static/js/jquery-1.12.4.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <script src="../static/framework/formValidation.min.js"></script>
    <script src="../static/framework/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap-datepicker.min.js"></script>
    <script src="../static/js/index_sockets.js"></script>
    <script src="../static/js/search.js"></script>
    <script src="../static/js/index_jq.js"></script>
    <script src="../static/js/work_table.js"></script>
    <title> Средства мониторинга ПК ИО ОД</title>

  </head>
  <style media="screen">
    #lmsuccess{
      background:rgb(92, 184, 92);
      color: white;
    }
    #lmsuccess:hover{
      background: rgb(68,157,68);
    }
    #lmwaiting{
      background: rgb(240, 173, 78);
      color: white;
    }
    #lmwaiting:hover{
      background: rgb(213, 133, 18);
    }
    #lmerror{
      background: rgb(217,83,79);
      color: white;
    }
    #lmerror:hover{
      background: rgb(213,63,58);
    }
  </style>
  <body>

  <h1 class="display-3">  Журнал приема/передачи файлов</h1>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- SEARCH -->
      <div class="navbar-header">
        <form class="navbar-form navbar-left" >
          <div class="form-group">
            <input type="text" class="form-control light-table-filter" data-table="order-table" placeholder="Поиск по всей таблице"/>
          </div>
        </form>
      </div>
      <div class="navbar-header">

        <form class="navbar-form navbar-left" >
          Количество строк:
          <div class="input-group col-lg-5">
            <input type="text" class="form-control"  onchange="get_info()" id='rowpic'>
          </div>
        </form>
      </div>
      <!-- DATE -->
      <div class="navbar-form navbar-left ">
        <div class="form-group">
          C:
            <div class="input-group input-append date col-lg-7" id="datePicker" >
                <input type="text" class="form-control" name="date" value = '{{yesterday}}' id = 'dp0' onchange="get_info()">
                <span class="input-group-addon add-on"></span>
            </div>
        </div>
        <div class="form-group  ">
            По:
            <div class="input-group input-append date col-lg-7" id="datePicker1">
                <input type="text" class="form-control" name="date1" value = '{{date}}' id = 'dp1'  onchange="get_info()">
                <span class="input-group-addon add-on"></span>
            </div>
        </div>
      </div>

    </div><!-- /.container-fluid -->
  </nav>

    <table class='order-table table table-hover ' id='tab'>
      <thead>
        <tr>
          <th >
            <button type="button" class="btn btn-lg btn-outline-light " onclick="sort_date()">
              Дата
            <span id = "span_date" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th >
              <button type="button" class="btn btn-lg btn-outline-light " onclick="sort_source()">
              Источник
              <span id = "span_source" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th>
              <button type="button" class="btn btn-lg btn-outline-light " onclick="sort_abonent()">
             Абонент
             <span id = "span_abonent" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th >
            <button type="button" class="btn btn-lg btn-outline-light " onclick="sort_size()">
             Обьем файла
             <span id = "span_size" class="glyphicon glyphicon-chevron-up"></span>
            </th>
            <th >
            <button type="button" class="btn btn-lg btn-outline-light " onclick="sort_name()">
            Имя файла
            <span id = "span_name" class="glyphicon glyphicon-chevron-up"></span>
            </th>
          <th >
            <div class = "dropdown">
            <button type="button" class="btn btn-lg btn-outline-light " data-toggle = "dropdown" onclick="change_span_status()" >
              Статус
            <span id = "span_status" class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <ul class = "dropdown-menu " role = "menu">
             <li><a id='lmsuccess' href = "#" style="" ><h5 >Успешно <span class="badge">42</span></h5></a></li>
             <li><a id='lmwaiting' href = "#" ><h5>Ожидают <span class="badge">42</span></h5></a></li>
             <li><a id='lmerror' href = "#" ><h5>Ошибка <span class="badge">42</span></h5></a></li>
             <li class = "divider"></li>
             <li><a href = "#"><h5>Все <span class="badge">42</span></h5></a></li>
             </ul>

            </div>
          </th>

        </tr>
        <tr>
          <th class="dropdown">

            <input id='date_search' type="text" class="form-control" placeholder="Поиск по дате" onkeyup="search_column(0)" >

          </th>
          <th class="dropdown">

            <input id='source_search' type="text" class="form-control" placeholder="Поиск по источнику" onkeyup="search_column(1)" >

          </th>
          <th class="dropdown">

            <input id='abonent_search' type="text" class="form-control" placeholder="Поиск по абоненту" onkeyup="search_column(2)">

          </th>
          <th class="dropdown">

            <input id='size_search' type="text" class="form-control" placeholder="Поиск по размеру" onkeyup="search_column(3)">

          </th>
          <th class="dropdown">

            <input id='name_search' type="text" class="form-control" placeholder="Поиск по имени" onkeyup="search_column(4)">

          </th>
          <th class="dropdown">

            <input id='mess_search' type="text" class="form-control" placeholder="Поиск по сообщению" onkeyup="search_column(5)">

          </th>
        </tr>
      </thead>
      <tbody id="body_table">
        {% for res in result %}
          <tr  id = "id_info">
            <td id = "id_info_1"> {{res['date']}} </td>
            <td id = "id_info_2"> {{res['source']}} </td>
            <td id = "id_info_3"> {{res['abonent']}} </td>
            <td id = "id_info_4"> {{res['size']}} </td>
            <td id = "id_info_5"> {{res['name']}} </td>
            <td id = "id_info_6"> {{res['message']}} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


<footer class="footer">
     <div class="container">
       <span class="text-muted">
         <nav aria-label="Page navigation example">
       <ul class="pagination">
         <li class="page-item">
           <a class="page-link" href="#" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
             <span class="sr-only">Previous</span>
           </a>
         </li>
         <li class="page-item"><a class="page-link" href="#">1</a></li>
         <li class="page-item"><a class="page-link" href="#">2</a></li>
         <li class="page-item"><a class="page-link" href="#">3</a></li>
         <li class="page-item">
           <a class="page-link" href="#" aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
             <span class="sr-only">Next</span>
           </a>
         </li>
       </ul>
     </nav>
       </span>
     </div>
   </footer>
</body>

<script>
$(document).ready(function() {
$('#datePicker')
    .datepicker({
        format: 'dd.mm.yyyy'
    })
    .on('changeDate', function(e) {
        // Revalidate the date field
        $('#eventForm').formValidation('revalidateField', 'date');
    });
  });
  </script>
  <script>
  $(document).ready(function($) {
  $('#datePicker1')
      .datepicker({
          format: 'dd.mm.yyyy'
      })
      .on('changeDate', function(e) {
          // Revalidate the date field
          $('#eventForm').formValidation('revalidateField', 'date1');
      });
    });
</script>
<script type="text/javascript">
pagination(5);
</script>
</html>
